[submodule "badresults"]
	path = badresults
	url = https://github.com/disruptek/badresults
[submodule "nimgit2"]
	path = nimgit2
	url = https://github.com/genotrance/nimgit2
[submodule "testes"]
	path = testes
	url = https://github.com/disruptek/testes
	branch = master
[submodule "grok"]
	path = grok
	url = https://github.com/disruptek/grok
	branch = master
[submodule "nim-bytes2human"]
	path = nim-bytes2human
	url = https://github.com/juancarlospaco/nim-bytes2human
	branch = master
